### DATA EXTRACTION

In [1]:
import seaborn as sns
import pandas as pd 

titanic_data = sns.load_dataset('titanic')

### DATA REVIEW

In [2]:
print("Number of passangers:",len(titanic_data))
titanic_data.columns 
titanic_data.dtypes 

titanic_data['class'].unique()

titanic_data.isnull().sum()

Number of passangers: 891

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

### DATA TRANSFORMATION

In [3]:
titanic_data['deck'] = titanic_data['deck'].astype(str) 
titanic_data['class'] = titanic_data['class'].astype(str)
titanic_data.fillna(0, inplace=True)
titanic_data.drop(['alive', 'alone', 'adult_male', 'deck'], axis=1, inplace=True)

titanic_data.isnull().sum()

titanic_data['embark_town'].unique()

array(['Southampton', 'Cherbourg', 'Queenstown', 0], dtype=object)

In [4]:
# Mapping for embark_town
embark_town_mapping = {'Southampton': 1, 'Cherbourg': 2, 'Queenstown': 3, 0:0}
titanic_data['embark_town'] = titanic_data['embark_town'].map(embark_town_mapping)

# Mapping for sex
sex_mapping = {'male': 0, 'female': 1}
titanic_data['sex'] = titanic_data['sex'].map(sex_mapping)

# Mapping for embarked
embarked_mapping = {'S': 1, 'C': 2, 'Q': 3, 0 : 0}
titanic_data['embarked'] = titanic_data['embarked'].map(embarked_mapping)

# Mapping for class
class_mapping = {'Third': 1, 'First': 2, 'Second': 3}
titanic_data['class'] = titanic_data['class'].map(class_mapping)

# Mapping for who
who_mapping = {'man': 1, 'woman': 2, 'child': 3}
titanic_data['who'] = titanic_data['who'].map(who_mapping)

In [5]:
titanic_data.isnull().sum() #NO MORE EMPTY VALUES

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
embark_town    0
dtype: int64

### TRAIN AND TEST SPLIT

In [6]:
from sklearn.model_selection import train_test_split

In [ ]:
X = titanic_data.drop('survived', axis=1) #Independent variables
y = titanic_data['survived'] #Dependent variable

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2 )