In [2]:
# Equal (==)
x = 5 # ASSIGN A VARIABLE
y = 5

print(x == y) #COMPARE
print('1' == 1 )

True
False

In [3]:
# Not equal (!=)

print(x != y)

False

In [5]:
# Greater than (>)

print(x > 2)

True

In [6]:
# Less than (<)

print(x < 10)

True

In [7]:
# Greater than or equal to (>=)

print(x >= 5)

True

In [19]:
# IF ELSE statements
x = 1

if x < 50:
    print('Less than 50')
else:
    print('More than or equal to 50')
print('Finish') #THIS IS NOT A MUST

Less than 50
Finish

In [20]:
a = 20

if a > 10:
  print('a is above 10')
  print('This is still in the block')
print('This is outside the block')

a is above 10
This is still in the block
This is outside the block

In [22]:
age = int(input('How old are you?: '))

if age >= 18:
  print('you are eligible to wote') #first block
  print('Please proceed to the voting booth')
else:
  print('You are not old enough to vote')
print('Thank you for participating!')

How old are you?: 28
you are eligible to wote
Please proceed to the voting booth
Thank you for participating!

In [23]:
number = int(input('Enter a number: '))

# %
# check if the number is even or odd

if number % 2 == 0: #MODULUS OPERATIONS
  print(f'The number {number} is even!')
else:
  print(f'The number {number} is odd!')

Enter a number: 10
The number 10 is even!

# Payment approval

In [ ]:
# If the transaction can be done based on the account balance

In [24]:
account_balance = float(input('Enter your account balance: '))
transaction_amount = float(input('Enter the transaction amount'))

if account_balance >= transaction_amount:
  print('Payment approved!')
else:
  print('Insufficient funds!')

Enter your account balance: 100
Enter the transaction amount70
Payment approved!

# Access management system

In [26]:
# check if username and password matches stored username and password.
#If yes you gett access to the system

username = input('Enter your username: ')
password = input('Enter your password: ')

STORED_USERNAME = 'user123'
STORED_PASSWORD = 'pass123'

# AND OR
if username == STORED_USERNAME and password == STORED_PASSWORD:
  print('Access granted')
else:
  print('Access denied!')

Enter your username: user123
Enter your password: pass123
Access granted

# Multi way decisions

In [27]:
x = 10

if x < 5:
  print('Small')
elif x < 15:
  print('Medium')
else:
  print('Large')

print('All done')

Medium
All done

# Grading

In [35]:
# Grading in scale 100, convert 100 to ABCDEF

try:
  score = int(input('Enter your score: '))

  if score >= 90:
    print("Your grade is A!")
  elif score >= 80:
    print("Your grade is B!")
  elif score >= 70:
    print("Your grade is C!")
  elif score >= 60:
    print("Your grade is D!")
  elif score >= 50 and score < 60 or score == 40:
    print('Between 50 and 60 or 40')
  else:
    print('Your grade is F')
except Exception as e:
  print(f'Wrong input, exception {e}')

Enter your score: Roberta
Wrong input, exception invalid literal for int() with base 10: 'Roberta'

In [39]:
try:
  account_balance = float(input('Enter your account balance: '))
  transaction_amount = float(input('Enter the transaction amount'))

  if account_balance >= transaction_amount:
    print('Payment approved!')
  else:
    print('Insufficient funds!')

except Exception as m:
  print(f'Wrong input, exception: {m}')

Enter your account balance: 8
Enter the transaction amountb
Wrong input, exception: could not convert string to float: 'b'