In [7]:
age = "18.5"

In [2]:
type(age)

str

In [8]:
float(age)

18.5

In [9]:
fruits = ["apple", "orange", "banana", "grape", "kiwi"]

The user is prompted to enter a fruit name using the input() function.
We use an if-else statement to check if the entered fruit is present in the fruits list.
If the entered fruit is in the list, it prints a confirmation message. Otherwise, it prints a message indicating that the fruit is not in the list.

In [11]:
# check if input exists in list

user_input = input("Enter the fruit: ")
if user_input in fruits:
    print(f"Yes, {user_input} is in our list of fruits!")
else:
    print(f"No, {user_input} is not in our list of fruits!")

Enter the fruit: kiwi
Yes, kiwi is in our list of fruits!

In [13]:
numbers = [1,20,35,400,5]

The user is prompted to enter a number using the input() function, and the input is converted to an integer using int().
We first check if the entered number is in the numbers list using an if statement.
If the number is in the list, we further check if it's even or odd using another if-else statement nested inside the first one.
Depending on the result, it prints a message indicating whether the number is even or odd and whether it's in the list or not.

In [14]:
user_number = int(input("Please enter a number: "))

if user_number in numbers:
  if user_number %2 == 0:
    print('Your even number is on the list')
  else:
    print('Your odd number is on the list')
else:
  print('Your number is not on the list')

Please enter a number: 400
Your even number is on the list

### List methods

In [17]:
# APPEND

items = ['apple', 'kiwi', 'orange']
print(f'original items {items}')

my_value = 'banana'
items.append(my_value)
print(f'changed items {items}')

original items ['apple', 'kiwi', 'orange']
changed items ['apple', 'kiwi', 'orange', 'banana']

In [19]:
# COPY

original_list = [1,2,3,4,5]
copied_list = original_list.copy()

original_list.append(6)

print(original_list)
print(copied_list)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]

In [21]:
# COUNT

numbers = [1,2,7,6,5,5]

target_number = 5
count = numbers.count(target_number)
print(f'The number {target_number} appears {count} times in the list')

The number 5 appears 2 times in the list

In [22]:
# INDEX

fruits = ['apple', 'banana', 'orange']
fruits_index = fruits.index('banana')
print(f'Index of "banana" is: {fruits_index}')

Index of "banana" is: 1

In [23]:
# INSERT

numbers = [1,2,3,4,5]
numbers.insert(2, 10)

print(numbers)

[1, 2, 10, 3, 4, 5]

In [24]:
# POP
numbers.pop(2)
print(numbers)

[1, 2, 3, 4, 5]

In [29]:
# SORT
numbers2 = [6,9,10,3,5]
numbers2.sort()
print(numbers2)

[3, 5, 6, 9, 10]

In [ ]:

# if the average val is higher than 3

In [ ]:
# Create a list of 5 number elements
numbers = [1, 6, 13, 2, 5]

# # Calculate maximum value of the numbers
max_value = max(numbers)
print(f"The maximum value in the list is: {max_value}")

# Calculate minimum value of the numbers
min_value = min(numbers)
print(f"The minimum value in the list is: {min_value}")

# Calculate average value of numbers
average_value = sum(numbers) / len(numbers)
print(f"The average value in the list is: {average_value}")

# Check if the average value of the list if higher than 3 If the average is greater than 3, print "Average is greater than 3", otherwise print "Average is not greater than 3".
if average_value > 3:
  print("The average value of numbers in the list is higher than 3")
else:
  print("The average value of numbers on the list is lower than 3")

# Sort the list

numbers.sort()

# Remove first number of the list

numbers.pop(0)

# Add your name to the list
numbers.append("Elina")

# Calculate at what index is your name
numbers.index("Elina")

### RANGE

# range(start, stop, step)

In [43]:
list(range(10, 100, 10)) #the last element is not included

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [44]:
numbers_with_range = range(1, 7) #iterable object [1,2,3,4,5,6]

In [46]:
for number in numbers_with_range:
  number = number*2
  print(number)

2
4
6
8
10
12

In [47]:
friends = ['Anna', 'Peter', 'Erika', 'Roberta']
for friend in friends:
  print(friend)

Anna
Peter
Erika
Roberta